---

---

<div
  class="dark text-muted text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <a
    target="_blank"
    rel="noopener"
    class="ltr:ml-auto rtl:mr-auto h-[1.25rem] ml-auto bg-contain inline-block"
    title="Looking for early adopters! If you like Web Fragments, give us a star."
    href="https://github.com/web-fragments/web-fragments"
  > Do you love Web Fragments? Give us a ⭐️.
  </a>
</div>
