---

---

<section
	class="not-prose"
	style="background: linear-gradient(120deg, var(--aw-color-primary) 0%, var(--aw-color-accent) 100%);"
>
	<div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium text-white">
		<span class="font-bold"
			>Incrementally migrate your frontend to a newer, more performant stack with low-risk and high ROI</span
		>
	</div>
</section>
