body {
    background-color: #24272f;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

img.logo {
   margin-top: 100px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
}

section {
    background-color: #343949;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 0 20px;
}

header {
    height: 70px;
    background-color: #0e0f13;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

li {
    margin: 10px 0;
}

button.button,
a.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    color: #ffffff;
    background-color: #a7016d;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button.button,
a.button:hover {
    background-color: #d017cc;
    transform: scale(1.05);
}

button.button.counter {
    background-color: #0d1d2d;
    margin-bottom: 20px;
}

button.button {
    max-width: 150px;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.fragment-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 4px dashed white;
    border-radius: 10px;
    width: 320px;
    min-height: 350px;
    align-items: center;
}

@media screen and (max-width: 768px) {
    main {
        padding: 20px;
    }
    .wrapper {
        flex-direction: column;
    }
    .fragment-container {
        width: 100%;
    }
    main {
        height: calc(100vh + 70px);
    }
}